@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans text-white;
    background-color: #222528;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}
