body {
  @apply font-sans text-white;
  background-color: #222528;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

.responsive-container {
  @apply max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto px-4 md:px-0;
}

.nav-link {
  @apply font-semibold text-xl py-1 hover:text-link-orange border-b-2 border-link-orange border-opacity-0 hover:border-opacity-100 transition-colors;
}

.markdown {
  @apply text-gray-light text-lg;
}
